* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-weight: 500;
  font-size: 18px;

  color: #212121;
  background-color: #fafafa;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center top;

  transition: background-image 0.2s ease-in-out;
}

ul {
  padding-left: 20px;

  list-style: none;
}

li,
.country-info_head {
  display: flex;
  align-items: center;

  margin-bottom: 15px;
}

#search-box {
  font: inherit;
  font-weight: 400;
  font-size: 16px;

  max-width: 320px;

  padding: 8px;
  margin-top: 20px;
  margin-bottom: 16px;
  margin-left: 20px;

  outline: none;
  border: 1px solid rgba(38, 89, 189, 0.75);
}

#search-box:focus {
  /* outline: 1px solid blue; */

  box-shadow: inset 0px 0px 1px 1px rgba(48, 96, 192, 0.75),
    inset 0px 0px 1px 3px rgba(48, 96, 192, 0.25);
}

.country-list__img {
  width: 40px;
  margin-right: 15px;
}

.country-info {
  display: inline-block;
  margin-left: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.country-info--lightened {
  background-color: rgba(250, 250, 250, 0.75);
}

.country-info_head {
  font-size: 40px;
  font-weight: 700;
}

.country-info_img {
  height: 40px;
  margin-right: 15px;
}
